* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    /*
    background: #83a4d4;
    background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);
    background: linear-gradient(to right, #b6fbff, #83a4d4);
    */

    background: url(./assets/v602-nunoon-12-rippednotes.jpg);
    background-size: cover;
    background-repeat: repeat;
}

body::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: transparent;
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: gray;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 30px solid lightcyan;
    /* creates padding around scroll thumb */
}

.bg-blur {
    background-color: rgba(255, 255, 255, 0.4);
    /* backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px); */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    padding: 10px 20px;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Border-radius to table */
table {
    border-radius: 10px;
    overflow: hidden;
}

/* For aligning text center for all rows */
td {
    text-align: center;
}

th {
    text-align: center;
    margin-bottom: 10px !important;
}


/* Adding media queries for mobile */
@media (max-width: 768px) {
    .d-flex {
        /* display: flex; */
        justify-content: space-between;
        align-items: stretch;
        flex-direction: column-reverse;
        gap: 8px;
    }

    .nav {
        justify-content: space-between;
    }
}